[submodule "dependencies/glm"]
	path = old/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/imgui"]
	path = old/dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/gdcm"]
	path = old/dependencies/gdcm
	url = https://github.com/malaterre/GDCM.git
[submodule "dependencies/stb"]
	path = old/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "cmake/gate"]
	path = cmake/gate
	url = https://github.com/cpp-pm/gate
[submodule "dependencies/assimp"]
	path = old/dependencies/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/sdl"]
	path = deps/sdl
	url = https://github.com/SDL-mirror/SDL.git
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "deps/polly"]
	path = deps/polly
	url = https://github.com/ruslo/polly.git
